.container
  h4
    | Kochani zapraszamy Was na kolejną imprezę z cyklu Polish Dance Camp! PDC to najlepsza i najgorętsza impreza sportowa w regionie! W trakcie naszych imprez można wziąć udział w warsztatach, masterclassach oraz maratonie Męskiego Zumbowania prowadzonym przez samych facetów! Maraton to 2-3 godziny zajęć Zumba Fitness! Czym jest Zumba Fitness ? To najlepszy program fitnessowy na świecie!!