h1 Dyplomowany instruktor tańca,  prezenter Zumba Fitness oraz Salsation od 2015r. 
h1 Finalista wielu ogólnopolskich oraz miedzynarodowych turniejów tańca towarzyskiego, posiadający międzynarodową klasę S w tańcach latynoamerykańskich oraz najwyższą
h1 krajową klasę A w tańcach standardowych. Pasjonat fotografii.
h1 Jego zajęcia są pełne pasji, pozytywnej energii i radosci. Wszystko co robi, robi z pełnym zaangażowaniem i nieokiełznaną energią.